.navbar-sidebar {
    background-color: #f1eff3;
    width: 100px;
    height: 100%;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid rgb(202, 201, 201);
}

.navbar-logo {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 25px;
}

.navbar-logo img {
    width: 50px;
}

.navbar-nav {
    list-style-type: none;
    padding: 0;
}

.navbar-nav li {
    margin-top: 0px;
    padding: 10px 15px;
    font-size: 25px;
    position: relative;
}

.navbar-nav li a {
    text-decoration: none;
    color: #3639ae;
    display: block;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
}

.navbar-nav li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: calc(100% + 20px);
    height: 100%;
    background-color: #3639ae;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 8px;
}


.navbar-nav li a:hover::before {
    opacity: 1;
}

.navbar-nav li a:hover {
    color: #fff;
}

.navbar-logo {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 25px;
    animation: rotation 4s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.navbar-logo img {
    width: 50px;
}

.navbar-bottom-icon {
    text-align: center;
    margin-top: 130px;
    margin-bottom: 5px;
    font-size: 25px;
    color: #3639ae;
}

body {
    margin: 0;
}
