.navbar-sidebar {
    background-color: #f1eff3;
    width: 100px;
    height: 100%;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid rgb(202, 201, 201);
}

.navbar-logo {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 25px;
}

.navbar-logo img {
    width: 50px;
}

.navbar-nav {
    list-style-type: none;
    padding: 0;
}

.navbar-nav li {
    margin-top: 30px;
    padding: 10px 15px;
    font-size: 25px;
}

.navbar-nav li a {
    text-decoration: none;
    color: #3639ae;
    display: flex;
    align-items: center;
}

.navbar-nav li a:hover {
    background-color: #3639ae;
}

.navbar-bottom-icon {
    text-align: center;
    margin-top: 160px;
    margin-bottom: 15px;
    font-size: 25px;
    color: #3639ae;
}

body {
    margin: 0;
}
