.tracker0-covid-container {
    padding: 20px;
    background-color: #fdfdfd;
    margin-left: 120px; 
    width: calc(100% - 10px); 
}

.tracker0-covid-heading {
    font-size: 29px;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: -65px;
}

.tracker0-covid-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tracker0-covid-item {
    margin-bottom: 10px;
    display: flex;
}

.total-case, .active-case, .recovered-case, .deaths-case {
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.total-case {
    background-color: rgb(255, 232, 228);
}

.active-case {
    background-color: rgb(250, 240, 212);
}

.recovered-case {
    background-color: rgb(219, 250, 220);
}

.deaths-case {
    background-color: rgb(224, 247, 253);
}

.total-case:hover,
.active-case:hover,
.recovered-case:hover,
.deaths-case:hover {
    transform: scale(1.05);
}

.country-list {
    display: block;
    padding: 0;
    margin: 0;
}

.list-block-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    padding-right: 35px;
    border-bottom: 1px solid #ddd;
}

.list-block-item img {
    max-width: 50px;
    margin-right: 10px;
}

.list-block-item:hover {
    transform: scale(1.05);
}

.dz-confirmed {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

.dz-title {
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}


.number-t {
    font-size: 30px;
    color: red;
}

.number-a {
    font-size: 30px;
    color: rgb(255, 166, 0);
}

.number-r {
    font-size: 30px;
    color: rgb(48, 196, 3);
}

.number-d {
    font-size: 30px;
    color: rgb(59, 61, 167);
    text-align: center;
}


.numsmall {
    font-size: 12px;
    color: grey;
    display: inline-block;
    background-color: white;
    padding: 1px 3px;
    line-height: 4;
    text-align: center;
}


.title_case {
    margin-top: 15px;
}